@import '../../../constants';
.asset-holder-base-info-wrap{
  .add-bank-account-btn{
    position: absolute;
    top: -40px;
    right: 10px;
    color: @color-blue;
    cursor: pointer;
  }

  .detail-item-wrap {
    color: #3B3D40;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    span{
      color: #868B8F;
      width: 98px;
      display: inline-block;
      margin-bottom: 16px;
    }
  }
}
