.renter-customer-service-list-page {
    position: relative;
    .project-select-area {
        float: right;
    }
    .renter-customer-content-area {
        margin-top: -16px;
        .ant-tabs-nav-scroll {
            padding: 0 16px;
        }
        .audit-tab {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
    }
    .renter-list-pagination {
        position: absolute;
        bottom: 0;
    }
    .status-item {
        .icon-dot {
            display: block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
            margin-top: 9px;
            float: left;
            border-radius: 50%;
            background-color: #F77D54;
            &.unaudit {
                background-color: #F27900;
            }
            &.auditing {
                background-color: #F5B027;
            }
            &.audited {
                background-color: #0D86FF;
            }
            &.processing {
                background-color: #00AD74;
            }
            &.closed {
                background-color: #868B8F;
            }
            &.passed {
                background-color: #868B8F;
            }
        }
        .status-text {
            float: left;
        }
    }
}