.renter-customer-service-list-page {
    position: relative;
    .project-select-area {
        float: right;
    }
    .renter-customer-content-area {
        margin-top: -16px;
        .ant-tabs-nav-scroll {
            padding: 0 16px;
        }
        .audit-tab {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
    }
    .renter-list-pagination {
        position: absolute;
        bottom: 0;
    }
    .status-item {
        .icon-dot {
            display: block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
            margin-top: 9px;
            float: left;
            border-radius: 50%;
            background-color: #F77D54;
            &.unaudit {
                background-color: #F27900;
            }
            &.auditing {
                background-color: #F2AA00;
            }
            &.audited {
                background-color: #0D86FF;
            }
            &.processing {
                background-color: #00AD74;
            }
            &.closed {
                background-color: #868B8F;
            }
            &.passed {
                background-color: #868B8F;
            }
        }
        .status-text {
            float: left;
        }
    }
    
}
.audit-renter-detail-form-modal {
    .ant-row.ant-form-item {
        margin-bottom: 6px ;
        .ant-form-item-label {
            margin-right: 24px;
            text-align: left;
        }
    }
    .room-item {
        line-height: 22px;
        margin-bottom: 0;
        &.first-room {
            margin-top: 5px;
        }
    }
    .ant-modal-body {
        max-height: 500px;
        overflow-y: scroll;
    }
    
}