// TODO remove
.ant-card-body {
    padding: 0;
}
.custom-report-tag {
    display: inline-block;
    margin-left: 4px;
    padding: 0 3px;
    border: 1px solid #F7BE4A;
    border-radius: 2px;
    line-height: 17px;
    font-size: 12px;
    background:rgba(255,255,255,1);
    color: #F2A305;
}

.report {
    &-card {
        height: calc(100vh - 115px);
    }
}