[data-component=outlay-table] {
    position: relative;

    .popover {
        margin-left: 4px;
    }

    .total {
        border-top: 1px solid #EBEFF2;
        height: 34px;
        line-height: 34px;
        text-align: right;
        color: #868B8F;
    }

    .field-setting-btn {
        position: absolute;
        right: 16px;
        margin-top: -48px;
    }

    .ant-table.ant-table-small .ant-table-tbody > tr > td:nth-of-type(2) {
        padding-right: 9px;
    }
    
    .operate-btn {
        display: inline-block;
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.rental-resource-popover {
    max-width: 288px;

    .ant-popover-title {
        font-weight: normal;
    }

    .ant-popover-inner-content {
        padding: 0;
    }

    .content {
        max-height: 218px;
        overflow: auto;

        p {
            margin-bottom: 8px;
            padding: 0 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:first-child {
                margin-top: 16px;
            }
            &:last-child {
                margin-bottom: 16px;
            }
        }
    }
}