[data-component=outlay-table] {
    .popover {
        margin-left: 4px;
    }

    .total {
        height: 34px;
        line-height: 34px;
        text-align: right;
        color: #868B8F;
    }
    
}

.exchanged-to-name-popover {
    width: 334px;

    .ant-row {
        .ant-col {
            word-break: break-all;
        }

        .ant-col:first-child {
            color: #868B8F;
        }
    }
}