.asset-holder-add-wrap{
    .no-bottom-border{
      .ant-card-head{
        border-bottom: 0 !important;
      }
    }
    .bottom-border-padding-24{
      .ant-card-head{
        border-bottom: 0 !important;
        .ant-card-head-wrapper{
          border-bottom: 1px solid #EBEFF2;
        }
      }
    }
    .account-table{
      padding: 16px 24px;
      max-height: 300px;
      overflow-y: auto;
    }
    .report-card{
      .ant-card-head{
        padding: 0 24px;
        &-title{ font-weight: bold; }
      }
    }
    .btn-margin-left-16{
      margin-left: 16px;
    }
}
