// 权限控制
.f-hidden {
    display: none !important;
}

.layout {
    &-list {
        padding: 24px 24px 0 24px;
    }
    &-detail {
        padding: 16px 16px 0 16px;
        & &-tab-content {
            padding: 20px 16px;
            height: calc(100vh - 236px);
            overflow: auto;
        }
    }
}

.hide-scrollbar {
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}