// Divider
.ant-divider {
    margin: 0; // 没有该变量
}
// Menu
.ant-menu.ant-menu-dark {
    background: #0D2640; // vendor/antd.js中设置了未生效
}

.ant-card-head {
    font-weight: 400;
}

.ant-card-body {
    padding: 0;
}
.ant-btn-link {
    padding: 0;
}