// Badge
.ant-badge-count, .ant-badge-dot {
    box-shadow: unset;
}
// Divider
body .ant-divider, .ant-divider-horizontal {
    margin: 0; // 没有该变量
}
// Menu
.ant-menu.ant-menu-dark {
    background: #0D2640; // vendor/antd.js中设置了未生效
}

// Card
.ant-card {
    display: flex;
    flex-direction: column;
    .ant-card-head {
        font-weight: 400;
        padding: 0 16px;
    }
    .ant-card-body {
        flex-grow: 1;
    }
    .ant-card-contain-tabs > .ant-card-head .ant-card-head-title {
        padding-bottom: 16px;
    }
    .ant-card-body {
        padding: 0;
    }
}

// Tabs
.ant-tabs-nav{
    margin-bottom: 0 !important;
}
.ant-tabs-nav .ant-tabs-tab {
    padding-top: 0;
}

// Button
.ant-btn-link {
    padding: 0;
    &:not(:first-child) {
        padding-left: 16px;
    }
}
// Pagination
.ant-pagination-total-text {
    color: @text-color-secondary;
}

// Form
.ant-form-item:last-of-type {
    margin-bottom: 0;
}
.ant-form-item-has-error {
    margin-bottom: 8px;
}

// 表头圆角去除
.ant-table-container .ant-table-content table > thead > tr:first-child th:last-child {
    border-top-right-radius: 0px;
}

.ant-table-container .ant-table-content table > thead > tr:first-child th:first-child {
    border-top-left-radius: 0px;
}

// 弹窗按钮间距要求为16px
.ant-modal-confirm .ant-modal-confirm-btns button + button {
    margin-bottom: 0;
    margin-left: 16px;
}

// 表格下拉列表最大高度设置
.ant-dropdown {
    .ant-table-filter-dropdown {
        .ant-dropdown-menu {
            max-height: 340px;
            padding: 0;
            .ant-dropdown-menu-item {
                &.ant-dropdown-menu-item-active {
                    background-color: #f2f5f7;
                }
                &.ant-dropdown-menu-item-selected {
                    font-weight: bold;
                }
                .ant-checkbox-inner {
                    border-radius: 2px;
                }
            }
        }
        .ant-table-filter-dropdown-btns {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

.ant-tree-select-dropdown.ant-select-dropdown {
    padding: 0;
}

// 重置 small 尺寸按钮样式
.ant-btn-sm {
    width: 64px;
    border-radius: 4px;
}

.ant-select-multiple span.ant-select-selection-item {
    border-radius: 2px;
}

span.ant-select-tree-checkbox-inner, span.ant-checkbox {
    border-radius: 2px;
}

.ant-table-fixed {
    table-layout: fixed;
}

.ant-table-tbody > tr > td {
    word-wrap: break-word;
    word-break: break-all;
}

.ant-select-tree {
    span.ant-select-tree-node-content-wrapper {
        border-radius: 0;
        &:hover {
            background-color: #f2f5f7;
        }
    }
}

// 树形下拉框
.ant-tree-select-dropdown  {
    // 由于被覆盖样式是行内样式，迫不得已用 important
    .ant-select-tree-list {
        .ant-select-tree-list-holder-inner{
            .ant-select-tree-treenode {
                padding-bottom: 0;
                .ant-select-tree-node-content-wrapper {
                    line-height: 32px;
                    min-height: 32px;
                }
            }
        }
    }
    .ant-select-tree .ant-select-tree-switcher {
        height: 32px;
        line-height: 32px;
    }
    .ant-select-tree .ant-select-tree-checkbox {
        margin: 8px 8px 0 0;
    }

}

// 重写 Modal 弹窗样式
.ant-modal {
    .ant-modal-content {
        .ant-modal-footer {
            button {
                min-width: 80px;
            }
            button + button {
                margin-left: 16px;
            }
        }
    }
}

.ant-cascader-menus {
    .ant-cascader-menu {
        padding: 0;
    }
    li.ant-cascader-menu-item
    {
        &:hover {
            background: #f2f5f7;
        }
        &.ant-cascader-menu-item-active {
            background-color: #EBF9FF;
        }
    }
}


.ant-checkbox {
    .ant-checkbox-inner {
        border-radius: 2px;
    }
}

.ant-table {
    table {
        .ant-table-thead > tr > th {
            background-color: #FAFBFC;
        }
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
        background-color: #f2f5f7;
    }
}
